<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Welcome to Regal+Lager : @ViewBag.SubTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/core.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Description" content="@ViewBag.MetaDescription" />
    <meta name="Keywords" content="@ViewBag.MetaKeywords" />
    <script type="text/javascript" src="http://use.typekit.com/euk0nha.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <script type="text/javascript" src="../../Scripts/backtotop.js"></script>
     @RenderSection("script", required: false)
</head>
<body>
   
    <section id="abovefold">
        <header>
            <div class="content-wrapper">
                <div id="logo">
                    <h5 class="logo">@Html.ActionLink("Home", "Index", "Home")</h5>
                </div>
                <div class="storebar">
                    <input id="Text1" type="text" placeholder="Search the site..." style="width: 200px;" />
                </div>
                <nav>
                    @Html.Partial("_Topnav")
                </nav>
            </div>
        </header>
        <section id="subhead" class="content-wrapper clear-fix">
            @RenderSection("movie", required: false)
        </section>
    </section>
    <section id="belowfoldbrand">
        <nav>
             @Html.Partial("_Mainnav")
        </nav>
        <div id="contentbrands" class="content-wrapper">
            @RenderBody()
        </div>
    </section>
    <footer id="footer">
        <div class="content-wrapper">
           @Html.Partial("_Footer")
        </div>
    </footer>
    @Html.Partial("_GoogleTrack")
</body>
</html>
