<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Welcome to Regal+Lager : @ViewBag.SubTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/core.css" />
    <script type="text/javascript" src="../../Scripts/jquery-1.7.2.min.js"></script>    
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="../../Scripts/validator.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/euk0nha.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <script type="text/javascript" src="../../Scripts/backtotop.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Description" content="@ViewBag.MetaDescription" />
    <meta name="Keywords" content="@ViewBag.MetaKeywords" />
     @RenderSection("script", required: false)
</head>
<body>
   
    <section id="abovefold">
        <header>
            <div class="content-wrapper">
                <nav>
                    @Html.Partial("_Topnav")
                </nav>
            </div>
        </header>
    </section>
    <section id="belowfold">
        <div id="content" class="content-wrapper">
            @RenderBody()
        </div>
    </section>
    <footer id="footer">
        <div class="content-wrapper">
            @Html.Partial("_Footer")
        </div>
    </footer>
    @Html.Partial("_GoogleTrack")
</body>
</html>
