<div class="menuwrapper">
                <ul id="menu">
                    <li><a href="#" class="drop" title="Shop Our Brands">
                        OUR BRANDS</a>
                        <div class="dropdown_5columns">
                            <div class="col_1">
                                <div class="menubrand">
                                    <img src="../../Images/bambinomio.png" />
                                </div>
                                <p class="branddesc">
                                    Bambino Mio is a complete cloth diapering system with a full range of accessories.
                                </p>
                                <p>@Html.ActionLink("LEARN MORE", "BambinoMio", "Brands", null, new { @title = "Shop for Bambino Mio in Our Store" })
                                @Html.ActionLink("SHOP", "BambinoMio", "Brands", null, new { @title = "Shop for Bambino Mio in Our Store" })
                                </p>
                            </div>
                            <div class="col_1">
                                <div class="menubrand">
                                    <img src="../../Images/cybex.png" />
                                </div>
                                <p class="branddesc">
                                    CYBEX is known for creating safe and fashion oriented products for children including
                                    Car Seats, Strollers, and Carriers, all designed in Germany.
                                </p>
                                <p>@Html.ActionLink("LEARN MORE", "Index", "Cybex", null, new { @title = "Shop for Cybex in Our Store" })
                               <a href="http://grizzly:8090/Cybex-C8.aspx" target="_self">SHOP CYBEX</a>
                                </p>
                            </div>
                            <div class="col_1">
                                <div class="menubrand">
                                    <img src="../../Images/dekor.png" />
                                </div>
                                <p class="branddesc">
                                    D&eacute;kor offers a hands free solution to diaper disposal. Just Step on the
                                    pedal and Drop the diaper in! Economical refills make the decision even easier.
                                </p>
                                <p>@Html.ActionLink("LEARN MORE", "Dekor", "Brands", null, new { @title = "Shop for D&eacute;kor in Our Store" })
                               @Html.ActionLink("SHOP", "Dekor", "Brands", null, new { @title = "Shop for D&eacute;kor in Our Store" })
                                </p>
                            </div>
                            <div class="col_1">
                                <div class="menubrand">
                                    <img src="../../Images/lascal.png" />
                                </div>
                                <p class="branddesc">
                                    Lascal&reg; brings you smart products for your child including the BuggyBoard stroller
                                    board and KiddyGuard gates that "disappear" into your home's decor.
                                </p>
                                <p>@Html.ActionLink("LEARN MORE", "Lascal", "Brands", null, new { @title = "Shop for Lascal in Our Store" })
                                @Html.ActionLink("SHOP", "Lascal", "Brands", null, new { @title = "Shop for Lascal in Our Store" })
                                </p>
                            </div>
                            <div class="col_1">
                                <div class="menubrand">
                                    <img src="../../Images/mycarrypotty.png" />
                                </div>
                                <p class="branddesc">
                                    The My Carry Potty&trade; is the only potty your child will every need and will
                                    prove to be invaluable when potty training.
                                </p>
                                <p>@Html.ActionLink("LEARN MORE", "Index", "Home", null, new { @title = "Shop for My Carry Potty in Our Store" })
                                @Html.ActionLink("SHOP", "Index", "Home", null, new { @title = "Shop for My Carry Potty in Our Store" })
                                </p>
                            </div>
                        </div>
                    </li>
                   
                    <li><a href="#" class="drop" title="Customer Care">CUSTOMER CARE</a>
                        <div class="dropdown_1column">
                            <div class="col_1">
                                <ul>
                                    <li>@Html.ActionLink("Get Great Support", "GetSupport", "Support", null, new { @title = "Get Support" })
                                    </li>
                                    <li>@Html.ActionLink("Frequent Questions", "Faqs", "Support", null, new { @title = "Frequently Asked Questions" })
                                    </li>
                                    <li><a href="http://www.youtube.com/rlcreative" target="_blank" title="Watch Our Videos">
                                        Product Videos</a></li>
                                    <li><a href="http://www.scribd.com/RLCreative/collections" target="_blank" title="Read or Download Instructions">
                                        Product Instructions</a>@*@Html.ActionLink("Instructions", "Downloads", "Support", null, new { @title = "Downloads" })*@
                                    </li>
                                    <li>@Html.ActionLink("Register a Product", "Index", "Register", null, new { @title = "Register a Product" })
                                    </li>
                                    <li>@Html.ActionLink("Recall Information", "Index", "Recalls", null, new { @title = "Product Recall Information" })
                                    </li>
                                    <li>@Html.ActionLink("Warranty Info", "Warranty", "Support", null, new { @title = "Warranty and Return Information" })
                                    </li>
                                    <li>@Html.ActionLink("Product Safety", "Testing", "Support", null, new { @title = "See Our Product Testing Results" })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" class="drop" title="All Your Media Needs">MEDIA</a>
                        <div class="dropdown_1column">
                            <div class="col_1">
                                <ul>
                                    <li>@Html.ActionLink("Press Room", "PressRoom", "Press", null, new { @title = "What's the Story?" })
                                    </li>
                                    <li><a href="http://regallager.wordpress.com" target="_blank" title="See Our Reviews">
                                        Regal Ramblings Blog</a></li>
                                     
                                    <li>@Html.ActionLink("Our Awards", "Awards", "Press", null, new { @title = "Our Awards" })
                                    </li>
                                    <li>@Html.ActionLink("Inquiries", "Media", "Email", null, new { @title = "Media Inquiries" })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" class="drop">COMPANY</a>
                        <div class="dropdown_1column">
                            <div class="col_1 last">
                                <ul>
                                    <li>@Html.ActionLink("About Us", "AboutUs", "About", null, new { @title = "About Us" })
                                    </li>
                                    <li>@Html.ActionLink("Meet Our Team", "OurTeam", "About", null, new { @title = "Our Team" })
                                    </li>
                                    <li>@Html.ActionLink("Our Mission", "Mission", "About", null, new { @title = "Mission Statement" })
                                    </li>
                                    <li>@Html.ActionLink("Contact Us", "Contact", "About", null, new { @title = "Contact Us" })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li> <li><a href="#" class="drop" title="Find a Store">FIND A STORE</a>
                        <div class="dropdown_2columns">
                            <div class="col_2 last">
                                <input id="txtStore" type="text" placeholder="Enter your ZIP" />&nbsp;<input id="Button1"
                                    type="button" value="GO" class="smallbutton" />
                                <input id="btnOnline" type="button" value="Find Online Stores" class="smallbutton" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>