<ul id="topmenu">
    <li>@Html.ActionLink("Home", "Index", "Home", new { @title = "Register Your Product" }, new { @class = "" })
    </li>
    <li>@Html.ActionLink("Register a Product", "Index", "Register", new { @title = "Register Your Product" }, new { @class = "" })
    </li>
    <li>@Html.ActionLink("Recall Info", "Index", "Recalls", new { @title = "Check for Product Recalls" }, new { @class = "" })
    </li>
    <li>@Html.ActionLink("Contact Us", "Contact", "About", new { @title = "Contact Regal Lager" }, new { @class = "" })
    </li>
    @*<li>@Html.ActionLink("CPS Techs", "CPS", "Home", new { @title = "A Place for CPS Techs" }, new { @class = "" }) </li>*@
    <li><a href="~/Internal/Security/Login.aspx" title="Retailer and Rep Login">Retailer
        Login</a></li>
</ul>
