@{
    ViewBag.SubTitle = "Send Us an E-mail";
}
@model Zeta.Models.Quick
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
</hgroup>
@section script{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="../../Scripts/validator.js"></script>

}

<article>
    @using (Html.BeginForm("Consumer", "Email", FormMethod.Post, new { enctype = "multipart/form-data", name = "form" }))
    {
        @Html.ValidationSummary(true)
        <span class="message">@TempData["Message"]</span>
        <fieldset>
            <legend></legend>
            <label class="form">
                @Html.LabelFor(model => model.FirstName, "First Name")
            </label>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.FirstName, "",
            new { @style = "width:250px;" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <label class="form">
                @Html.LabelFor(model => model.LastName, "Last Name")
            </label>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.LastName, "",
            new { @style = "width:250px;" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <label class="form">
                @Html.LabelFor(model => model.Phone)
            </label>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Phone, "Phone",
            new { placeholder = "Numbers Only", @style = "width:100px;" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
            <label class="form">
                @Html.LabelFor(model => model.Email)
            </label>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Email, "Email",
            new { @style = "width:250px;" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <label class="form">
                <label for="Comments">Comments</label>
            </label>
            @Html.TextArea("Profile", new { placeholder = "Be specific with your issue. If you know your Model and Model Numbers, please include them.", cols = 60, rows = 10 })
            <p>
                Do you have an image that would help us assist you? Please attach it to your e-mail.
            
            @Html.TextBoxFor(model => model.Attachment, "Attachment", new { type = "file" })
            @Html.ValidationMessageFor(model => model.Attachment)<br />
            
            <input type="submit" value="Send" class="button" />

        </fieldset>
    }
</article>

<script type="text/javascript">
    $(document).ready(function () {

        $('input').focus(function () {
            $(this).addClass("inputglow");
        });

        $('input').blur(function () {
            $(this).removeClass("inputglow");
        });
        $('textarea').focus(function () {
            $(this).addClass("inputglow");
        });

        $('textarea').blur(function () {
            $(this).removeClass("inputglow");
        });
    });

</script>
