@{
    ViewBag.SubTitle = "Frequently Asked Questions";
            
}
<hgroup class="title">
    <h1>@ViewBag.Subtitle</h1>
</hgroup>
<script type="text/javascript">
    $('dt').live('click', function () {
        var dd = $(this).next();

        if (!dd.is(':animated')) {
            dd.slideToggle();
            $(this).toggleClass('opened');
        }

    });
</script>
<article class="accordion">
    <p>
        Please browse the FAQ section for answers to the most commonly asked questions about
        our products. If you are unable to find the answer that you are looking for, please
        contact our Customer Care Department at 800-593-5522.
    </p>
    <section id="acc1">
        <h2><a href="#acc1">Bambino Mio&reg; Cloth Diapers</a></h2>
        <div class="page">
            <div style="padding-left: 10px; position: relative;">
                <dl>
                    <dt><span class="icon"></span>Why choose Bambino Mio for your baby?</dt>

                    <dd>Bambino Mio were one of the first companies to start the reusable nappy revolution
                        fifteen years ago and today manufacture a range of diapers and accessories to ensure
                        when parents choose to reuse it is as simple and easy to do as disposables.
                    </dd>

                    <dt><span class="icon"></span>Why does Bambino Mio have two different systems?</dt>
                    <dd>The two-piece which benefits from a 100% cotton nappy which can be folded to suit
                        the individual requirements of your baby and the miosolo a ne-size* all-in-one nappy
                        which is the simplest nappy to put on baby for the ultimate convenience. Bambino
                        Mio cloth diapers are slim fitting at the hips, they allow your baby more freedom
                        of movement. The nappy covers have Velcro® tabs and the miosolo have Velcro® style
                        tabs making them convenient, simple to use, and easy to adjust to the shape of your
                        baby. When laundering, our diapers wash and dry very efficiently providing you with
                        a fast turnaround.
                    </dd>
                    <dt><span class="icon"></span>Why is a mioliner (liner) used?</dt>
                    <dd>
                    Our nappy liners retain solids to help prevent soiling of the nappy and 
                        also reduce moisture seeping back onto baby's skin. Soiled nappy liners 
                        can simply be removed from a nappy and flushed away*. Wet liners should 
                        be placed in a bin or can be composted. The flushing of liners may cause blockages
                    in old or damaged drains. No
                        responsibility can be accepted for individual drain systems.
                <dt><span class="icon"></span>Are Bambino Mio reusable cloth diapers easy to use?
                </dt>
                    <dd>Our two-piece reusable nappy is designed to be quick and easy to use. 
                        Simply place a cotton nappy into a nappy cover, then place the complete 
                        nappy and cover (nappy wrap) onto baby like you would a disposable and fasten the
                        Velcro® fasteners around your baby’s tummy.&nbsp; If you are using our 
                        miosolo you do not need to use a separate nappy as the miosolo is an 
                        all-in-one nappy for the ultimate convenience. Reusable cloth diapers no longer
                        need
                        to be soaked. Real cloth diapers can be dry stored in the nappy bucket. Please refer
                        to our <a href="http://www.scribd.com/doc/98688880/Bambino-Mio-User-Guide"
                            target="_blank">User Guide</a> for further guidance and tips.
                    </dd>

                    <dt><span class="icon"></span>How many Bambino Mio cloth diapers do I need?</dt>
                    <dd>The number of cloth diapers you need will basically depend on how often you are
                        going to wash the diapers. 
                    </dd>
                    <dt><span class="icon"></span>When using Bambino Mio reusable diapers full time, we
                        recommend:</dt>
                    <dd>
                        <p><strong>Using the two-piece sytem:</strong></p>
                        <ul class="default">
                            <li>Twenty four mionappies in one size (size 1 and 2 are available) 
                            </li>
                            <li>Three to six miosoft nappy covers in one size
                            </li>
                        </ul>
                        <p><strong>Using miosolo all-in-ones:</strong></p>
                        <ul class="default">
                            <li>Twenty miosolo (all-in-one nappy)
                            </li>
                        </ul>
                        <p><strong>You will also need:</strong></p>
                        <ul class="default">
                            <li>mioliners (nappy liners)</li>
                            <li>miofresh (nappy sanitizer)</li>
                            <li>A nappy bucket and laundry bag</li>
                        </ul>
                        <p>
                            Please note that all parents and babies needs are different, and you may need more
                            or less cloth diapers and covers depending on your circumstances. It is important
                            that you have enough diapers and covers so that you do not run out as washing small
                            quantities is not cost effective.
                        </p>
                    </dd>
                    <dt><span class="icon"></span>Will my child suffer from diaper rash as a result of using
                        cloth diapers?
                    </dt>
                    <dd>Studies* have shown that your child is five times more likely to suffer from diaper
                        rash if you use disposable diapers rather than cloth ones. This is because many
                        disposables feel dry when in fact they are wet. Diaper rash can be caused by a number
                        of things such as illness, diarrhea, teething, food allergies/, new  or different
                        foods, baby wipes, creams, and residual particles of detergent from washing.
                   
                    <span class="smaller">(*Source: Br J Gen Pract 1997 Aug:47 (421):493-7 Getting to the
                        bottom of nappy rash. University of Bristol)
                    </span></dd>
                    <dt><span class="icon"></span>Will the reusable diapers leak?</dt>
                    <dd>Both of our nappy systems have been designed for maximum absorbency with minimum
                        bulk. Both cotton and microfibre are highly absorbent fabrics ideal for cloth.
                        Our mionappies (two-piece system) are made from 100% cotton, a natural, breathable
                        fabric, where as the miosolo nappy has a highly absorbent has a super absorbent
                        microfibre core and a stay dry inner layer to keep baby comfortable
                        and dry.
                        
                        Both the miosoft nappy cover (two-piece) and the miosolo benefit from 
                        elasticated legs and waistband to ensure a snug, comfortable fit which 
                        prevents leakage and Velcro® tabs to provide a perfect fit for all
                        shapes and sizes.
                        
                        (two-piece only) It is important to use the correct size cover for your baby and
                        use the most 
                        appropriate nappy fold to minimise the possibility of leakage. 
                    </dd>
                    <dt><span class="icon"></span>Are the Bambino Mio cloth diapers bulky?</dt>
                    <dd>Bambino Mio reusable diapers are less bulky than terry diapers and slightly 
                        more bulky than disposables. However, when a disposable nappy is wet it 
                        will swell up more, due to the absorbency of the moisture retaining 
                        chemicals inside, unlike reusable diapers.
                    </dd>
                    <dt><span class="icon"></span>How often will I need to change Bambino Mio cloth diapers?
                    </dt>
                    <dd>A Bambino Mio nappy will need to be changed every two to four hours but it really
                        depends on how often your baby wets. Reusable nappy users prefer to 
                        change their baby more frequently whereas there is a temptation for 
                        disposable nappy users to leave for longer periods between changes 
                        because their baby does not feel wet.
                    </dd>
                </dl>
            </div>
        </div>
    </section>
    <section id="acc2">
        <h2><a href="#acc2">Cybex&reg; Strollers, Car Seats, and Carriers</a></h2>
        <div class="page">
            <div style="padding-left: 10px;">
                <h2 class="faqsubhead">Strollers</h2>
                <div style="padding-left: 20px;">
                    <h3>General</h3>
                    <div style="padding-left: 30px;">


                        <dl>
                            <dt><span class="icon"></span>Can I use my Cybex strollers with a newborn?</dt>

                            <dd>The CYBEX Callisto and Onyx are both approved for use with newborns from birth.
                                The backrest of the Callisto and Onyx may be brought into an almost horizontal position
                                suitable for newborn babies.  Additionally, the harness system can be adjusted  to
                                safely use with a newborn child. Please refer to your Owner's Manual for further
                                information on using your stroller with a newborn.The Cybex Ruby may be only be
                                used with children from 6 months of age and up.
                            </dd>
                            <dt><span class="icon"></span>What are the advantages of the one-hand-operated harness
                                system?</dt>
                            <dd>Unlike other harness systems where both straps have to be adjusted individually,
                                the central, one-handed system ensures a snug fit that can be accomplished with
                                only one hand by pulling the central
                            belt.
                            
                            </dd>
                            <dt><span class="icon"></span>What is the Automatic Swivel Lock?</dt>
                            <dd>The front wheels of the CYBEX strollers can be locked into position which is useful
                                on longer walks or more difficult terrain.Simply lift the lever on the front wheels
                                with your foot and the wheels will automatically swivel into a locked position when
                                moving forward.
                            </dd>
                            <dt><span class="icon"></span>What is the summer function work?</dt>
                            <dd>The side walls of the CYBEX stroller can be removed from the frame to improve air
                                flow across the child. 
                        
                            </dd>
                            <dt><span class="icon"></span>Can worn wheels be replaced?</dt>
                            <dd>If your stroller weels show signs of wear, we will be glad to help you with replacement
                                parts. Please contact our @Html.ActionLink("Customer Care Department", "Support", "Index").
                            </dd>
                            <dt><span class="icon"></span>What do I have to keep in mind using the shopping basket?
                            </dt>
                            <dd>Please make note of the maximum loading weight of 4.5 pounds. Please avoid transporting
                                items with sharp edges which may damage the basket. Before folding the
                            stroller, please remove items from the basket to prevent damage to the stroller
                            frame.
                            </dd>
                            <dt><span class="icon"></span>How do I transform Cybex strollers into travel systems?
                            </dt>
                            <dd>
                                <ul class="faq">
                                    <li>The CYBEX Callisto may be used with the CYBEX Aton Infant Carrier by using the Callisto
                                        adapter. These come with the Callisto Carry Cot, or may be purchased separately.
                                    </li>
                                    <li>The CYBEX Onyx may be used with the CYBEX Aton Infant Carrier by using the Onyx
                                        adapter. The Onyx will accept other brands using the Cybex Infant Car Seat Adapter.
                                    </li>
                                    <li>The CYBEX Ruby may be used with the CYBEX Aton Infant Carrier by using the Cybex
                                        Infant Car Seat Adapter.</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div style="padding-left: 20px;">
                    <h3>Callisto</h3>
                    <div style="padding-left: 30px;">
                        <dl>
                            <dt><span class="icon"></span>How does the handlebar height-adjustment work?</dt>
                            <dd>The handlebar may be adjusted using the hidden buttons below the bar guaranteeing
                                a perfect height for different users. Simply press both buttons and pull the handlebar
                                until the new setting is fastened. To undo, press and push the handlebar in its
                                original position.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div style="padding-left: 20px;">
                    <h3>Callisto Carry Cot</h3>
                    <div style="padding-left: 30px;">
                        <dl>
                            <dt><span class="icon"></span>How does the handlebar height-adjustment work?</dt>
                            <dd>The handlebar may be adjusted using the hidden buttons below the bar guaranteeing
                                a perfect height for different users. Simply press both buttons and pull the handlebar
                                until the new setting is fastened. To undo, press and push the handlebar in its
                                original position.
                            </dd>
                        </dl>
                    </div>
                </div>
                <h2 class="faqsubhead">Car Seats</h2>
                <div style="padding-left: 20px;">
                    <h3>General Car Seat</h3>
                    <div style="padding-left: 30px;">
                        <dl>
                            <dt><span class="icon"></span>How do I know if I have LATCH in my car?
                            </dt>
                            <dd>LATCH (Lower Anchors and Tethers for Children) refers to a pair of fixed lower anchors
                                built into the crease between the seat back and the seat cushion.  If not readily
                                visible, the lower LATCH anchors may be noted a symbol located near the crease between
                                the seat back and the seat cushion.  Consult your vehicle’s owner’s manual for more
                                information.
                            </dd>
                            <dt><span class="icon"></span>Can I use my car seat after an accident?</dt>
                            <dd>No, Cybex recommends that car seats be replaced after an accident.
                            Please contact our @Html.ActionLink("Customer Care Department", "Support", "Index")
                                for more help with this question.
                            </dd>
                            <dt><span class="icon"></span>Why does my car seat have an expiration date?</dt>
                            <dd>CYBEX recommends that car seats be discontinued 7 years from the manufacturing
                            date found on a label on the bottom of the car seat. When a car seat reaches its
                            expiration date, the seat
                            should be destroyed and disposed in a responsible way. Check with your local recycling
                                agency about
                            proper recycling of car seats.
                        
                        <p>There are a number of reasons for this expiration date:</p>
                                <ul class="faq">
                                    <li>Technology continues to evolve</li>
                                    <li>The components of the car seat, especially certain plastics degrade over time
                                    </li>
                                    <li>Labels or instructions may no longer be available or legible</li>
                                </ul>
                            </dd>
                            <dt><span class="icon"></span>I don’t have lower LATCH anchors in my car. Can I have
                                them installed?</dt>

                            <dd>No, it’s usually not possible to retrofit a vehicle with lower anchors.</dd>
                            <dt><span class="icon"></span>Where can I purchase replacement fabric covers for my
                                car seat?</dt>

                            <dd>If you need to replacement fabric covers, please contact @Html.ActionLink("Customer Care Department", "Support", "Index").
                            </dd>
                        </dl>
                    </div>
                </div>
                <div style="padding-left: 20px;">
                    <h3>Aton Infant Car Seat</h3>
                    <div style="padding-left: 30px;">
                        <dl>
                            <dt><span class="icon"></span>May I use the Aton on the passenger seat of my car?
                            </dt>

                            <dd>The Aton can NEVER be used in on a front seat with an active airbag. 
                            </dd>

                            <dt><span class="icon"></span>What do I do if my baby’s head falls forward while driving?
                            </dt>
                            <dd>Your Aton needs to be readjusted to achieve a better recline angle for your child.
                                Please contact our @Html.ActionLink("Customer Care Department", "Support", "Index")
                                for more help with this question.
                            </dd>

                            <dt><span class="icon"></span>Can I use the Aton on an airplane?</dt>

                            <dd>Yes, the Aton Infant Seat is approved for use on aircraft. However, using the Aton
                                with the base is not approved for use
                            on aircraft.
                            </dd>

                            <dt><span class="icon"></span>Can I use the Aton Forward Facing?</dt>

                            <dd>The Cybex Aton may ONLY be used Rear Facing.
                            </dd>

                            <dt><span class="icon"></span>Can I leave my child in the Aton Infant Carrier at home?
                            </dt>

                            <dd>Aton has been engineered to offer the best possible protection for a baby while
                                in the car without negatively affecting the spine. However, the baby
                            should not be left in the carrir for long periods of time.
                            </dd>

                            <dt><span class="icon"></span>With which CYBEX strollers can I use the CYBEX Aton?
                            </dt>

                            <dd>The Aton has been specifically designed to be part of a travel system.
                            Adaptors are available to connect the CYBEX Aton with all  CYBEX stollers.
                            </dd>
                        </dl>
                    </div>
                    <h3>Solution X-fix High Back Booster</h3>
                    <div style="padding-left: 30px;">
                        <dl>
                            <dt><span class="icon"></span>When I fasten my child’s safety belt, the belt no longer
                                automatically retracts.
                            What can I do?
                            </dt>
                            <dd>The wide range of vehicle seats means that, in some cases, the safety belt may not
                                run smoothly Solution X-fix. If this is the case, first check whether
                            the height of the safety belt can be adjusted in the car. If possible, adjust the
                            height of the belt so that it runs straight and smoothly through the Belt Path.
                            </dd>

                            <dt><span class="icon"></span>What can I do if my child’s head falls forward while sleeping
                                in spite of the reclining
                            headrest?</dt>

                            <dd>If the Solution X-fix is installed in a position that is too upright, your child’s
                                head may fall forward in spite of the headrest. Should this occur, the seat may
                                be reclined slightly. Please refer to the Owner's Manual for more on this question.
                            </dd>
                            <dt><span class="icon"></span>The Rigid LATCH connectors are very difficult to release
                                from the
                            lower anchors in the vehicle. What can I do?</dt>

                            <dd>The Rigid LATCH connectors may be more difficult to release from the lower anchors
                                if the seat is under tension. First try moving the Solution X-fix away from the
                                back of the vehicle seat before
                            trying to release the connectors. If this is unsuccessful, stand in front of the
                            seat and place your knees against the front of the car seat and apply pressure towards
                                the back of the vehicle while at the same time releasing the LATCH connectors. 
                            </dd>
                            <dt><span class="icon"></span>Can I use the Solution X-fix without the backrest?
                            </dt>
                            <dd>No, this booster can NEVER be used without the backrest. 
                            </dd>
                            <dt><span class="icon"></span>When can I move my child from the booster seat to use
                                the regular vehicle seat belt?
                            </dt>
                            <dd>Requirements for car seat use vary depending on the state or you live in.
                            CYBEX recommends that you, at the minimum, follow the laws of your state.
                            For car seat best practices, follow the recommendations of Safe Kids, <a href="http://www.safekids.org/safety-basics/little-kids/on-the-way/car-seats-and-booster-seats.html"
                                target="_blank">found here</a>.
                            </dd>
                            <dt><span class="icon"></span>Where is the Owner’s Manual stored?</dt>
                            <dd>The Owner’s Manual can be stored in a pocket in the fabric on the back of the backrest.
                            </dd>

                            <dt><span class="icon"></span>Can I use my Booster seat in a rear facing or a sideway
                                facing vehicle seat?
                            </dt>
                            <dd>No, the Solution X-fix can only be installed in forward facing vehicle seats
                            with a three point lap and shoulder seat belt.
                            </dd>
                            <dt><span class="icon"></span>I don’t have lower LATCH anchors in my car, can I still
                                use this product?</dt>

                            <dd>Yes, the Rigid LATCH connectors can be stored in the base and the Booster seat can
                                be installed using the vehicle three point lap and shoulder belt.
                            </dd>

                            <dt><span class="icon"></span>I have an older vehicle that is equipped with a lap belt
                                only in the center position.
                            Can I still install my booster seat in that position?</dt>

                            <dd>No, NEVER install a booster seat with a lap belt only. A booster seat MUST be installed
                                in a seating position with a three point lap and shoulder belt.
                            </dd>
                            <dt><span class="icon"></span>What are the advantages of installing the solution X-fix
                                using Rigid LATCH?</dt>
                            <dd>
                                <ul class="faq">
                                    <li>It makes the installation easier and reduces the risk for misuse</li>
                                    <li>The booster is more stable which improves the ride for the child</li>
                                    <li>The rigid installation improves the protection in a crash, especially in a side
                                        impact crash</li>
                                    <li>The booster seat remains in the proper position when the child enters and exits
                                        the vehicle.</li>
                                </ul>
                            </dd>
                            <dt><span class="icon"></span>Is a latched booster seat safer than an unlatched booster
                                seat?</dt>

                            <dd>An unlatched booster seat must meet the same safety standards as a latched booster
                                seat. The Solution X-fix meets all applicable federal motor vehicle safety standards
                                and is safe to be used both unlatched or latched, providing that the booster seat
                                is installed properly and the  instructions in the Owner’s Manual has been followed.
                            </dd>
                            <dt><span class="icon"></span>My vehicle Owner’s Manual states that the middle seat
                                of the rear seat is the safest
                            position to secure your child. The middle seat in my vehicle doesn’t have LATCH.
                            Which position should
                            I use?</dt>

                            <dd>All children under 13 years of age always ride in the back seat.  The Solution X-fix
                                can be used with or without the LATCH. The best placement of a child restraint is
                                one where it can be installed properly and  securely, whether that is in the left,
                                right or center position. This position MUST have a three point lap and shoulder
                                belt. This booster seat shall NEVER be installed using a lap belt only.
                            </dd>

                            <dt><span class="icon"></span>Can I use the Solution X-fix on an airplane?</dt>

                            <dd>No booster seat is approved for use on an airplane as booster seats must only
                                be used with lap and shoulder belt.
                            </dd>
                        </dl>
                    </div>
                </div>
                <h2 class="faqsubhead">Carriers</h2>
                <div style="padding-left: 20px;">
                    <h3>2.GO</h3>
                    <div style="padding-left: 30px;">
                        <dl>
                            <dt><span class="icon"></span>How early can I use my CYBEX 2.GO?</dt>
                            <dd>We recommend first using the 2.GO at 8 pounds, how long you use it is up to you,
                                but the upper weight limit is 40 pounds.
                            </dd>
                            <dt><span class="icon"></span>What are the advantages of using the CYBEX 2.GO?</dt>
                            <dd>The movement impulses that are transmitted to the hip joints through the spread
                                squat position ideally enhance the development of the joints. It offers high ease
                                of use and extraordinary carrying comfort.
                            </dd>
                            <dt><span class="icon"></span>Which seat adjustment is recommended for normal use?
                            </dt>
                            <dd>The open seat setting is similar to the spread position in a sling. Should you get
                                the impression that this position is uncomfortable for you child, please adjust
                                the zipper in the optimal position for your child. 
                            </dd>
                            <dt><span class="icon"></span>Can the bib be removed and washed?</dt>
                            <dd>The bib is attached to the carrier by velcro fasteners and can be easily removed
                                for washing. Simply open the upper and lower velcro fasteners as well as the headrest‘s
                                latches on the side and take off the bib loops.
                            </dd>

                            <dt><span class="icon"></span>What makes the carrying comfort of the 2.GO so special?
                            </dt>
                            <dd>The CYBEX 2.GO baby carrier is equally comfortable for parents and child. The 2.GO’s
                                ergonomic design allows baby to sit in a spread-squat position whilst supporting
                                the child’s naturally rounded back by snugly shaping itself around the body. The
                                ergonomically shaped shoulder straps and optimized weight distribution away from
                                the shoulders and onto the hips give rise to a unique level of comfort. The hip
                                straps are fitted with soft padding whilst the edges of the seat are designed with
                                extra padding for added comfort. The 2.GO offers a series of flexible settings to
                                give the child optimum support. The CYBEX 2.GO has three positions to suit baby’s
                                height. The child’s space requirements can also be accommodated using the width
                                settings. The headrest can be infinitely adjusted, giving baby support when fast
                                asleep. The clever and self-explanatory design of the 2.GO baby carrier makes it
                                particularly easy to handle and a pleasure to use.
                            </dd>
                        </dl>
                    </div>
                    <h3>U.GO Wrap</h3>
                    <div style="padding-left: 30px;"></div>
                    <dl></dl>
                </div>
            </div>
        </div>
    </section>
    <section id="acc3">
        <h2><a href="#acc3">D&eacute;kor&reg; Diaper Disposal</a></h2>
        <div class="page">
            <div style="padding-left: 10px;">
                <dl>
                    <dt><span class="icon"></span>Which refills do I need for my pail?</dt>
                    <dd>To purchase the correct size refill you first need to know which size pail you have.
                        There are three sizes: Classic, Plus, and XL. To determine which size D&eacute;kor
                        you have, check the label affixed to the inside of your pail's front service door.
                        After you determine what size pail you have, purchase the corresponding refill for
                        your pail. Go here for more.
                    </dd>
                    <dt><span class="icon"></span>I have an previous model of the D&eacute;kor pail. Will
                        the refills still work?
                    </dt>
                    <dd>Yes, each refill size is backwards compatible with the previous pail of that size.
                        In other words, all Plus size refills will work with ALL Plus sized pails, etc.
                    </dd>
                    <dt><span class="icon"></span>My D&eacute;kor is broken or does not work properly.
                    </dt>
                    <dd>Some parts on the D&eacute;kor are replaceable, such as the trap doors. Please contact
                        Customer Care and tell us more about the problem you are having.
                    </dd>
                    <dt><span class="icon"></span>Is my product covered under warranty?</dt>
                    <dd>All D&eacute;kor pails are covered by a six month limited warranty covering manufacture
                        defects. If your product suffers from a defect covered under warranty contact us
                        for repair or replacement. Warranties are valid from original date of purchase,
                        non-transferrable, and covers the product under normal use and conditions. Misuse
                        and normal wear and tear is not covered. Products purchased from non-authorized
                        dealers, such as e-Bay&reg;, are not covered under warranty.
                    </dd>
                    <dt><span class="icon"></span>How do I change the refill on my D&eacute;kor? </dt>
                    <dd>It's easy to install a new refill. Click here for more information on replacing
                        a refill.
                    </dd>
                    <dt><span class="icon"></span>Can I use D&eacute;kor with cloth diapers?</dt>
                    <dd>D&eacute;kor will work perfectly fine as a hamper for your cloth diapers. Simply
                        cut the bag and take them to the laundry room.
                    </dd>
                    <dt><span class="icon"></span>How many diapers will my pail actually hold?</dt>
                    <dd>Typically, the D&eacute;kor Classic will hold up to 40 newborn diapers,
                    while the D&eacute;kor Plus will hold up to 60 newborn diapers before
                    it is full and needs to be emptied. The number on the outside of the refill boxes
                    refers to the total number of diapers that can be used with both refills. The number
                        is based on newborn diapers and will vary for each person.
                    </dd>
                    <dt><span class="icon"></span>Do I have to wait until my pail is full to empty?</dt>
                    <dd>You may choose to empty your pail as often as needed to suite your needs, after
                        each change or when the pail is filled to capacity. Of course, emptying more often
                        will decrease the potential for odor to build up in your pail.
                    </dd>
                    <dt><span class="icon"></span>What should I use to clean my D&eacute;kor? </dt>
                    <dd>Frequently wipe down the Diaper D&eacute;kor with a non-abrasive household cleaner.
                        You may also clean the pail with bleach to disinfect as it will not harm the ABS
                        plastic.
                    </dd>
                    <dt><span class="icon"></span>How do I convert the D&eacute;kor from a diaper disposal
                        system to a trash can?
                    </dt>
                    <dd>You simply remove the "diaper insert". Click here for more information.
                    </dd>
                    <dt><span class="icon"></span>What makes D&eacute;kor better than other diaper disposal
                        systems? </dt>
                    <dd>The D&eacute;kor is the easiest diaper disposal system to use; emptying the pail
                        and reloading the refills is a snap. It has great styling, and its seals do a great
                        job in keeping odor in the pail and out of your nursery. Also, the D&eacute;kor's
                        efficient use of refills saves you money as the cost per diaper is less than other
                        systems using refills. Finally, while all other diaper pails are useless after you
                        are done with diapers diapers, the D&eacute;kor converts into a trash can that can
                        be used long after diaper days are over.
                    </dd>
                </dl>
            </div>
        </div>
    </section>
    <section id="acc4">
        <h2><a href="#acc4">Lascal&reg; Stroller Boards and Gates</a></h2>
        <div class="page">
            <div style="padding-left: 10px;">
                <h3>BuggyBoard Maxi</h3>
                <div style="padding-left: 20px;">
                    <dl>
                        <dt><span class="icon"></span>Will the BuggyBoard fit my Stroller?</dt>
                        <dd>This content appears on page 4.</dd>
                    </dl>
                </div>
                <h3>BuggyBoard Mini</h3>
                <div style="padding-left: 20px;">
                    <dl>
                        <dt><span class="icon"></span>
                        <dt>Will the BuggyBoard fit my Stroller?</dt>
                        <dd>This content appears on page 4.</dd>
                    </dl>
                </div>
                <h3>KiddyGuard Avant</h3>
                <div style="padding-left: 20px;">
                    <dl>
                        <dt><span class="icon"></span>Will the BuggyBoard fit my Stroller?</dt>
                        <dd>This content appears on page 4.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
    <section id="acc5">
        <h2><a href="#acc5">My Carry Potty</a></h2>
        <div class="page">
            <div style="padding-left: 10px;">
                <dl>
                    <dt><span class="icon"></span>What is My Carry Potty made of?</dt>
                    <dd>My Carry Potty is made from high quality, durable plastic that's easy on the eye
                        and easy to keep clean.
                    </dd>
                    <dt><span class="icon"></span>Why is it smarter for potty training?</dt>
                    <dd>Kids really like the bright primary colors, and the carry handle makes My Carry
                        Potty easy for them to adopt as their own. Not only is it perfect for when you are
                        out
                    and about, on vacation, or long journeys it's also ideal
                    for home and even nursery, especially if your child only feels happy with his or
                    her own potty.
                    </dd>
                    <dt><span class="icon"></span>Is it easy to use?</dt>
                    <dd>Unlike other travel potty products My Carry Potty is assembly free and ready-to-go.
                        With no need for a separate carrier case or disposable bags, it saves time and money
                        and is better for the environment.
                    </dd>
                    <dt><span class="icon"></span>Does the My Carry Potty leak?</dt>
                    <dd>My Carry Potty is fitted with an ingenious rubber seal and clip shut lid that provides
                        a completely leak and odor-proof container, so wherever your little one is caught
                        short you can be in total control.
                    </dd>
                </dl>
            </div>
        </div>
    </section>
</article>
