@{
    ViewBag.Subtitle = "Contact Us";
    ViewBag.Message = "We'd like to hear from you";
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
    <h5>@ViewBag.Message</h5>
</hgroup>
<article>
     <h2>Customer Care</h2>
    <p>
        For  support issues, please give us a call Toll Free or 1-800-593-5522 Toll Free, or  @Html.ActionLink("send us an e-mail", "Consumer", "Email"). Our Customer Care team will respond to your e-mai within one business day.
    </p>
    <hr />
    <h2>Media Inquiries:</h2>
    <p>For press related inquiries, please go to the  @Html.ActionLink("Press Room", "Index", "Press").</p>
    <hr />
    <h2>Sales Inquiries:</h2>
    <p>
        If you are interested in joining our team as a retailer, contact our Director of
        Sales @Html.ActionLink("Jeff Durkee", "OurTeam", "About", null,
    new { @title = "Jeff Durkee" }) at
        770-955-5060 x120 or @Html.ActionLink("send him an e-mail", "Sales", "Email", null,
    new { @title = "Send Us an Email" }).
    </p>
    <h2>Our Address:</h2>
    <p>
        Regal Lager, Inc.<br />
        1100 Cobb Place Blvd. Suite 120<br />
        Kennesaw, GA 30144<br />
        770-955-5060<br />
        Fax: 770-955-1997
    </p>
    <p>
        <a href="http://www.regallager.com/storelocator/mapit.aspx?CustID=0000&CustName=Regal%20Lager,%20Inc.&Address1=1100%20Cobb%20Place%20Blvd&City=Kennesaw&State=GA&Zip=30144&Phone=8005935522"
            target="_blank">Get Driving Directions to Regal Lager</a>
    </p>
</article>
<aside>
    <img src="../Images/rl-contact.png" alt="Contact Us" class="drop-shadow" />
</aside>
